input.actor-name-input(type="text", value=actor.name, data-id= actor.psql_id)

div.actor-edit-controls
  button.submit-actor-edit.btn.btn-success Save Changes
  button.delete-actor-button.btn.btn-danger Delete Actor
