input(type="text", value=event.name)

div.event-times-rows
  each time in event.times
    a.event-time-modal-controller(href="#")= time
    div.event-time-modal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="Edit Event", aria-hidden="true")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &times;
              span.sr-only Close
            h4.modal-title Edit Event
          div.modal-body
            each actorRole in event.actorsByTimes[time]
              div= actorRole.actor.name + ' - ' + actorRole.role.name
          div.modal-footer
            button.btn.btn-default(type="button", data-dismiss="modal") Close
            button.btn.btn-primary(type="button") Save changes

div
  button.submit-event-edit.btn.btn-success Save Changes
