!= js("admin/event-create")

div
	span Name
	input.event-name-input(type="text")
div
	span Description
	input.event-description-input(type="text")
div
	span Duration
	input.event-duration-input(type="text")
button.submit-event-create.btn.btn-success Create Event
