input.role-name-input(type="text", value=role.name, data-id= role.psql_id)

div.role-edit-controls
  button.submit-role-edit.btn.btn-success Save Changes
  button.delete-role-button.btn.btn-danger Delete Actor
