!= css("login")

div.span8.box-wrap
  h1.intro-title 
    | Login
  div.login-form
    fieldset(style="margin-left:50px;")
      form(action="/login",method="post")
        input(type="text",class="input-xlarge required",placeholder="Email",name="username")
        input(type="password",class="input-xlarge required",placeholder="Password",id="password",minlength="6",name="password")
        a.forgot(href="/forgot-password") Forgot password?
        button(type="submit",class="btn btn-primary login-btn",style="margin-left:120px;") Login
